* {
  margin: 0;
  padding: 0;
}

.card{
    border: 2px solid lightseagreen;
    margin: 20px;
    display: flow-root;
}
.cards{
    border: 2px solid rgb(112, 50, 205);
    margin: 10px;
}
.card-1{
    float: left;
}
.card-2{
    clear: both;
}